main{
    background-color: #d9d9d9;
    width: 65%;
    margin-left: 5%;
    border-radius: 20px;
    
}
.Photo_cliquable{
    display: flex;
    width: 150px;
    padding: 10px;
    transition-duration: 500ms;
}

.Photo_cliquable:hover{
    scale: 120%;
    transition-duration: 500ms;
}

.Photo_non_cliquable{
    display: flex;
    width: 150px;
    padding: 10px;
}


.div_PP{
        display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
    justify-items: center;
    text-align: center;

    text-decoration: none;
}
.div_PP a{
    transition-duration: 200ms;
    text-decoration: none;
    font-weight : bold;
    color: black;
}

.div_PP a:hover{
    transition-duration: 200ms;
    color: #17A095;
}
/*

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

 */

.titre_PP{
    padding-left: 35px;
    color: #302d2d;
}

.div_corp{
    padding: 20px;
}

.gaetan{
    margin-bottom: -18%;
    width: 55%;
    margin-top: -13%;
}


.btn-home{
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #F5CB5C;
    border-radius: 50%;
    transition: 500ms;
    z-index: 1;
}
.btn-home:hover{
    transition: 500ms;
    transform: scale(120%);
    background-color: #242423;
}

.btn-home:hover svg{
    transition: 500ms;
    transform: scale(120%);
    fill: #F5CB5C;
}

.btn-home svg{
    transform: scale(120%);
    fill: #242423;
    display: flex;
    align-self: center;
}

.lecture_bar{
    height: 10px;
    left: 0px;
    position: fixed;
    background-color: #F5CB5C;
    top: 0px;
    right: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 4;
}