.carrousel{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    width: 80%;
    justify-self: center;
}

.items{
    list-style-type: none;
    flex-shrink: 0;
    margin-left: 1rem;
}

.img_carte{
    max-width: 75%;
}


.div_carrousel{
    display: block ruby;
}

.carrousel2 {
    position: relative;
    width: 94%;
    height: 80vh;
    overflow: hidden;
    margin-right: 3%;
    margin-left: 3%;
}
.diapo {
    position: absolute;
    margin-left: 10%;
    width: 80%;
    max-height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}
.diapo.active {
    opacity: 1;
}
.diapo img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.diapo p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    padding: 2% 10%;
    margin: 0;
    color: #d9d9d9;
    background-color: rgba(36, 36, 35, 0.8);
}

.btn-carrousel:hover {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    font-size: 16px;
    color: #242423;
    background-color: rgba(245, 203, 92, 0.8);
    border-radius: 50px;
    transition-duration: 250ms;
    padding: 4px;
}

.btn-carrousel {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    font-size: 16px;
    color: #d9d9d9;
    background-color: rgba(36, 36, 35, 0.8);
    padding: 4px;
    transition-duration: 250ms;
}
.btn-carrousel.prev {
    left: 10%;
}
.btn-carrousel.next {
    right: 10%;
}



