
.carte {
    background-color: aqua;
    border-radius: 30px;
    flex: 1;
    margin: 3%;
    padding: 5%;
}

.carte-foncee{
    background-color: #243137;
}

.carte-claire{
    background-color: #bd9f67;
}

.texte-fonce{
    color: #243137;
}

.texte-clair{
    color: #bd9f67;
}

.titre-carte{
    font-size: 40px;
    margin-bottom: 30px;
}

.grid-carte{
    display: grid;
    grid-template-columns: 70% 30%;
}

.texte-left{
    text-align: left;
}

.grid-carte p {
    margin: 10px;
}


.img-moi {
    background-image: url("https://cdn.discordapp.com/attachments/782961560061476894/1093527643829321758/gaetan.jpg?ex=6571c87b&is=655f537b&hm=df3927d160c3408b0100c74c407ee64efbe8d9e857f2ebde51c754d9947d10fe&");                                
    background-repeat: no-repeat;
    background-size: contain;
    width: 128px;
    height: 128px;
    border-radius: 100%;
    background-position: center;
    justify-self: center;
}

.info-carte-tot > div{
    margin: 3% 0%;
}



@media screen and (max-width: 600px) {
    .responsive-reverse{
        display: flex;
        flex-direction: column-reverse;
    }

    .responsive{
        display: flex;
        flex-direction: column;
    }
}