.Compétences {
    justify-content: center;
    margin-left: 7%;
    margin-right: 7%;
}

.desc-comp{
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.Compétences tr{
    display: block ruby;
    width: 50%;
    padding-bottom: 2%;
    padding-top: 2%;
}
.Compétences tr td{
    width: 50%;
}
.Compétences tr:first-child{
    border-bottom: 1px solid #242423;
}



.diagramme_personnel{
    width: 50%;
}