.Compétences {
    justify-content: center;
    margin-left: 7%;
    margin-right: 7%;
}

.desc-comp{
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.Compétences tr{
    display: flex;
    width: 100%;
    padding-bottom: 2%;
    justify-content: center;
    padding-top: 2%;
}
.Compétences tr td{
    width: 30%;
}
.Compétences tr:first-child{
    border-bottom: 1px solid #242423;
}



.diagramme_personnel{
    width: 65%;
}