.Compétences {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    margin-left: 7%;
    margin-right: 7%;
}

.desc-comp{
    flex-direction: column;
    display: flex;
    justify-content: center;
}