.main_back {
    position: absolute;
    border-radius: 10px;
    transform: rotate(90deg);
    width: auto;
    max-width: 11em;
    height: 11em;
    background: linear-gradient(270deg, #F5CB5C, #242423);
    z-index: -2;
    box-shadow: inset 0px 0px 10px 5px #242423;
}

.main_contact {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    width: 100%;
    max-height: 14em;
    align-items: center;
    justify-content: center;
    z-index: -1;
    background: radial-gradient(circle, rgba(114,114,111,1) 0%, rgba(51,53,51,1) 30%, rgba(36,36,35,1) 45%, rgba(36,36,35,1) 100%);
}


svg {
    scale: 1.50;
}

.card {
    width: 100%;
    height: 100%;
    transition: .4s ease-in-out, .2s background-color ease-in-out, .2s background-image ease-in-out;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_contact a {
    width: 46%;
    height: 46%;
    margin: 2%;
}



#linkedin {
    fill: #125fe2;
    scale: 2;
}

#github {
    fill: #9b31f2;
    scale: 2;
}

#call {
    fill: #29bc4b
}

#mail {
    fill: #5a90ed
}

.card #linkedin {
    opacity: 0;
    transition: .2s ease-in-out;
    fill: #125fe2
}


.card #github {
    opacity: 0;
    transition: .2s ease-in-out;
    fill: #9b31f2;
}


.card #cv {
    opacity: 0;
    transition: .2s ease-in-out;
    color: #E8EDDF;
}




.card #call {
    opacity: 0;
    transition: .2s ease-in-out;
    fill: #29bc4b;
}


.card #mail {
    opacity: 0;
    transition: .2s ease-in-out;
    fill: #5a90ed;
}

.card #drive {
    opacity: 0;
    transition: .2s ease-in-out;
   
}

.main_contact:hover {
    max-width: 14em;
    cursor: pointer;
}

.main_contact:hover .main_back {
    opacity: 0;
}

.main_contact:hover .card {
    margin: 2%;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
}
.main_contact:hover a {
    width: 40%;
    height: 40%;
}



.main_contact:hover .text {
    opacity: 0;
    z-index: -3;
}

.main_contact:hover #linkedin {
    opacity: 1;
    transform: scale(1.20);
}

.main_contact:hover #github {
    opacity: 1;
}

.main_contact:hover #call {
    opacity: 1;
}

.main_contact:hover #mail {
    opacity: 1;
}

.main_contact:hover #drive {
    opacity: 1;
}

.main_contact:hover #cv {
    opacity: 1;
    color: #E8EDDF
}

a:nth-child(1) .card:hover {
    background-color: #125fe2
}

 a:nth-child(1):hover #linkedin {
    fill: white;
}

a:nth-child(2) .card:hover {
    background-color: #9b31f2;
}

a:nth-child(2) .card:hover #github {
    fill: white;
}

a:nth-child(3) .card:hover {
    background-color: #29bc4b;
}

a:nth-child(3) .card:hover #call {
    fill: white;
}

a:nth-child(4) .card:hover {
    background-color: #5a90ed;
}

a:nth-child(4) .card:hover #mail {
    fill: white;
}

a:nth-child(5) .card:hover {
    background-color: #F5CB5C;
}

a:nth-child(5) .card:hover #drive path {
    fill: white;
}

a:nth-child(6) .card:hover {
    background-color: #F5CB5C;
}

a:nth-child(6) .card:hover #cv {
    color: #242423;
}




.main_contact a:nth-child(3) {
    width: 25%; 
    height: 33%;

}
.main_contact a:nth-child(4) {
    width: 25%;
    height: 33%;
}
.main_contact a:nth-child(5) {
    width: 25%;
    height: 33%;
}

.main_contact a:nth-child(6) {
    width: 90%;
    height: 15%;
}



.text {
    position: absolute;
    font-size: 0.7em;
    transition: .4s ease-in-out;
    color: white;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.33em;
    z-index: 3;
}