

.contact a{
  justify-content: center;
  color: black;
  text-decoration: none;
}

.contact p{
  font-size: 13px;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 3%;
  padding-bottom: 1%;
  height: 40%;
}

.between {
  display: flex;
  flex-direction: row;
  height: 20%;
  gap: 1%;
  padding: .5% 0px;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 1.5%;
  padding-top: 1%;
  height: 40%;
}



#linkedin {
  fill: #125fe2;
  scale: 2;
}

#github {
  fill: #9b31f2;
  scale: 2;
}

#call {
  fill: #29bc4b
}

#mail {
  fill: #5a90ed
}


#drive {
  fill: #EA0909
}

.button_contact {
  width: 100%;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 5px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.button_contact svg {
  scale: 175%;
}

.contact_HG {
  border-radius: 90px 5px 5px 5px;
  padding-left: 10%;
  padding-top: 4%;
}

.contact_HD {
  border-radius: 5px 90px 5px 5px;
  padding-right: 10%;
  padding-top: 4%;
}

.contact_BG {
  border-radius: 5px 5px 5px 90px;
  padding-left: 10%;
  padding-bottom: 4%;
}

.contact_BD {
  border-radius: 5px 5px 90px 5px;
  padding-right: 10%;
  padding-bottom: 4%;
}

.button_contact:hover{
  transition-duration: 100ms;
  transform: scale(1.10);
}

.contact{
  width: 95%;
 height: 25%;
 padding: 2.5%;
}



.contact a:hover path {
  fill: white;
}
.contact a:hover p {
  color: white;
}

.up a:nth-child(1):hover {
    background-color: #125fe2;
}

.up a:nth-child(2):hover {
  background-color: #9b31f2;
}

.between a:nth-child(1):hover {
  background-color: #ffba24;
}

.down a:nth-child(1):hover {
  background-color: #29bc4b;
}

.down a:nth-child(2):hover {
background-color: #5a90ed;
}

.down a:nth-child(3):hover {
background-color: #EA0909;
}


