.Progress {
    width: 50%;
    background-color: #E8EDDF;
    border: 1px solid #333533;
    height: 15px;
    border-radius: 4px;
    margin-left: 5%;
}

.Bar {
    width: 0%;
    height: 100%;
    background-color: #F5CB5C;
    border-radius: 4px;
}



.lang{

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;

}




.fondBlanc{
    opacity: 1;
    padding-top: 5%;
    padding-bottom: 5%;
    background: linear-gradient(180deg, rgba(207,219,213,1) 0%, rgba(232,237,223,1) 100%); 
}
.fondGris{
    opacity: .90;
    padding-top: 5%;
    padding-bottom: 5%;
    background: linear-gradient(0deg, rgba(207,219,213,1) 0%, rgba(232,237,223,1) 100%);
}
.lang-desc{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    margin: 3% 5%;
}

.footer{
    
    background-color: #333533;
}