.navBar-lien {
    display: flex;
    flex-direction: column;
    background-color: #242423;
    width: auto;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 10px;
    z-index: 4;
    padding: 5px;
    color: #CFDBD5;
}

.button-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    transition-duration: .8s;
    position: fixed;
    z-index: 10;
}

.deployed-navbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    transition-duration: .8s;
    position: fixed;
}

.deployed-navbar .swallow__icon svg {
    transform: rotateY(180deg);
}

.button:hover {
    transform: translateY(-3px);
}

.icon {
    font-size: 20px;
}







/* <main-style> ============================ */
.swallow__icon {
    width: 40px;
    height: 70px;
    /* padding: 0.25rem; */
    background-color: #242423;
    /* backdrop-filter: saturate(180%) blur(20px); */
    /* border: solid 1px rgba(66,66,69,0.7); */
    border: none;
    position: relative;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px 100px 100px 0;
    z-index: 4;
}

.swallow__icon svg {
    fill: white;
    transition-duration: .5s;
    scale: 1.20;
}

.swallow__icon:hover svg{
    scale: 1.5;
    transition: .4s;
    fill: #F5CB5C;
}

.swallow__icon:hover{
    cursor: pointer;
}

.navBar-lien li {
    list-style-type: none;
    margin: 0px 20px;
    transition-duration: .2s;
}

.navBar-lien div{
    margin: 5px;
}

.navBar-lien h2{
    margin: 0px;
    transition-duration: .2s;
}

.navBar-lien h2:hover{
    color: #F5CB5C;
    transition-duration: .2s;
    transform: translateX(10%);
    cursor: pointer;
}
.navBar-lien li:hover{
    color: #F5CB5C;
    transition-duration: .2s;
    transform: translateX(10%);
    cursor: pointer;
}


.button-container  a {
    text-decoration: none;
    color: white;
    margin: 20px;
}

