.desc-lang{
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

.desc-lang .lang{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 4%;
}

.desc-lang .desc{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}